<main id="main">
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">List Visit </h1>
            </div>
          </div>
         
        </div>
      </div>
    </section>

<div class="body table-responsive">
   <table class="table table-bordered">
    <thead>
    <tr>
       
    <th>Date de Visit</th>
    <th>Description Feedback</th>
    <th>Heure</th>
    <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let v of listVisit">
        

    <td>{{v.date_visit}}</td>
    
    <td>{{v.description_feedback}}</td>
    <td>{{v.heure}}</td>
    <td><button (click)="deleteVisit(v.id_visit)" type="button" class="btn btn-primary">Delete</button></td>
    <td>
        <button type="submit" (click)="updateVisit(v.id_visit)">Update</button>
    
    </td>
    </tr>
</tbody>
</table>
</div>


    

<!--<ul>
    <li *ngFor="let v of listVisit">
        {{v.date_visit}}
        {{v.date_visit}}
        {{v.heure}}
    </li>
    <td>
        <button (click)="deleteVisit(v.id)" type="button" class="btn btn-prima
ry">DELETE</button>
    </td>
</ul>-->

