<div class="container bootstrap snipets">
    <h1 class="text-center text-muted">Ads</h1>
    <div class="row flow-offset-1">
         
      <div class="col-xs-6 col-md-4" *ngFor="let x of f">
        <div class="product tumbnail thumbnail-3">
         
               <img  class="img-responsive"   src="{{x.ad.image}}">
           
         
          <div class="caption">
           
            <del></del><span class="price sale"> price:{{x.ad.price}} dn</span>
          </div>
          <div class="caption">
           
            <del></del><span class="price sale"> area: {{x.ad.area}} Metre </span>
            
        </div>
        
      <div class="caption">
           
        <del></del><span class="price sale"> date: {{x.fav_ad_date}}  </span>
        
    </div>
      
        </div>
      </div>
      
    </div>
  </div> 

  <div></div>