.card{
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 5%);
    margin: .5rem 0 1rem;
    padding: 16px 20px;

}

.text{
    font-weight: 500;
}
.price{
    font-weight: 500;
    color: #2eca6a;
}

.titlepayment {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.33;
}

.card-header {
    display: flex;
    padding: 15px;
        padding-top: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
    align-items: center;
    min-height: inherit;
    background-color: #fff;
}
.provider-image {
    max-height: 44px;
    margin-left: 5px;
    vertical-align: middle;
}
.provider{
    margin-left: 100px;
}