
 
 <section class="intro-single">
    
  </section>
    <div class="container">
      <div class="col1">
        <div class="card">
          <div class="front">
            <div class="type">
              <img class="bankid"/>
            </div>
            <span class="chip"></span>
            <span class="card_number">&#x25CF;&#x25CF;&#x25CF;&#x25CF; &#x25CF;&#x25CF;&#x25CF;&#x25CF; &#x25CF;&#x25CF;&#x25CF;&#x25CF; &#x25CF;&#x25CF;&#x25CF;&#x25CF; </span>
            <div class="date"><span class="date_value">MM / YYYY</span></div>
            <span class="fullname">FULL NAME</span>
          </div>
          <div class="back">
            <div class="magnetic"></div>
            <div class="bar"></div>
            <span class="seccode">&#x25CF;&#x25CF;&#x25CF;</span>
            <span class="chip"></span><span class="disclaimer">This card is property of Random Bank of Random corporation. <br> If found please return to Random Bank of Random corporation - 21968 Paris, Verdi Street, 34 </span>
          </div>
        </div>
      </div>
      <div class="col2">
        <label>Cardholder name</label>
        <input class="inputname" type="text" placeholder=""/>
    <form #addcarte="ngForm" (ngSubmit)="addCarteStripe(addcarte)">
        <label>Card Number</label>
        <input class="number" type="text" ng-model name="number" maxlength="19" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
        
        <label>Expiry date</label>
        <input class="expire" type="text"  ng-model name="exp_year" placeholder="MM / YYYY"/>
        <label>Security Number</label>
        <input class="ccv" type="text" placeholder="CVC" maxlength="3" name="cvc" ngModel onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
        <button class="buy" type="submit" (click)="updateModal(template)"><i class="material-icons">lock</i> Pay --.-- €</button>
    </form>
      </div>
    </div>

<!-- confirmer Modal -->
<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to buy</p>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">No</button>
          <button class="btn btn-danger" data-dismiss="modal" (click)="confirmOrder()" >Yes</button>
      </div>
  </div>
  </ng-template>

  