<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<section class="block-add-form">
<div class="container">
<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<div class="table-responsive">
				<table class="table user-list">
					<thead>
						<tr>
							<th><span>title</span></th>
							<th><span>description</span></th>
							<th class="text-center"><span>Status</span></th>
							<th><span>price</span></th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let f of ListFor">
							<td>
								<a href="#" class="user-link">{{f.titre}}</a>
								
							</td>
							<td >
								{{f.description}}
                
							</td>
							<td class="text-center">
                
								<span *ngIf="f.state" class="label label-default">Inactive</span>
                <span *ngIf="!f.state" class="label label-default">buy</span>
							</td>
							<td>
								<a href="#">{{f.price}}</a>
							</td>
							<td style="width: 20%;">
								
								<a  class="table-link colorbtn">
									<span (click)="updateModal(templateupdate,f)" class="fa-stack">
										<i class="fa fa-square fa-stack-2x colorbtn"></i>
										<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
									</span>
								</a>
               
								<a  class="table-link danger">
									<span class="fa-stack" (click)="test(f)">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</td>
						</tr>
					
					</tbody>
				</table>
			</div>

		</div>
	</div>
</div>
</div>
</section>









 <!-- Delete Modal -->
<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to delete employee  {{deleteForniture.titre}}?</p>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">No</button>
          <button class="btn btn-danger" data-dismiss="modal" (click)="deleteFor()">Yes</button>
      </div>
  </div>
  </ng-template>
 
<!-- update Modal -->
  <ng-template #templateupdate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">update furniture</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="container">
            <form  #updateForm="ngForm" (ngSubmit)="updateFornutire(updateForm)" >
              <div class="form-group">
                <input type="hidden" ngModel="{{editForniture?.furniture_id}}" name="furniture_id" class="form-control" id="furniture_id" placeholder="furniture_id">
                <label for="formGroupprice">price</label>
                <input type="text" class="form-control" id="formGroupprice" placeholder="price" name="price" ngModel="{{editForniture?.price}}">
              </div>
              <div class="form-group">
                <label for="formGroupdescription">description</label>
                <input type="text" class="form-control" id="formGroupdescription" placeholder="description" name="description" ngModel="{{editForniture?.description}}">
              </div>
              <div class="form-group">
                  <label for="formGrouptitre"> titre</label>
                  <input type="text" class="form-control" id="formGrouptitre" placeholder="titre" name="titre"ngModel="{{editForniture?.titre}}">
                </div>
                <div class="form-group ">
                  <label for="formGrouptype"> type</label>
                  <select id="formGrouptype" class="form-control" placeholder="type" ngModel="{{editForniture?.type}}" name="type">
                    <option selected>Meuble</option>
                    <option >Accesoires</option>
                    <option >All</option>
                  </select>
                </div>
                <div class="form-group ">
                  <label for="formGroupcity"> city</label>
                  <select id="formGroupcity" class="form-control"  ngModel="{{editForniture?.city}}" name="city">
                    <option selected>Bizerte</option>
                    <option >Beja</option>
                    <option >Jendouba</option>
                    <option >Kef</option>
                    <option >Zaghouan</option>
                    <option >Ariana</option>
                    <option >Ben_arous</option>
                    <option >Tunis</option>
                    <option >Mannouba</option>
                    <option >Nabeul</option>
                    <option >Sousse</option>
                    <option >Mounastir</option>
                    <option >Mahdia</option>
                    <option >Kasserine</option>
                    <option >Gafsa</option>
                    <option >Sfax</option>
                    <option >Gabes</option>
                    <option >Tataouin</option>
                    <option >Medennine</option>
                    <option >Touzuer</option>
                    <option >Kebeli</option>
                    <option >Sidi_bouzid</option>
                  </select>
                </div>
                <div class="container row">
                  <div class="col-md-12">
                      <h1>Upload Image</h1>
                  </div>
              </div>
              <div class="container row">
                  <div class="col-md-6">
                      <input type="file" (change)="onFileChanged($event)">
                  </div>
                
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">update</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">No</button>
              </div>
               
            </form>
        
        
          </div>


     
  </div>
  </ng-template>
  